#form .text,#form h2{color:#fff;font-family:Helvetica,Arial,sans-serif;}#products,#reason,section{display:block}#form,#solutions{background-position:top;background-size:auto;background-color:#034ea2;}#form .text,#form h2,#solutions .text,body,td{font-family:Helvetica,Arial,sans-serif}#form,#research,#solutions{background-size:auto 100%}#reason,.rslides,section{overflow:hidden}body{margin:0;padding:0}header{background-color:#72bf44;padding:20px 0}body,td{color:#666666;overflow-x:hidden}#form{background-image:url(../images/form/bg.jpg);padding:80px 0;colot:#fff;text-align:center;background-position:center;background-repeat:no-repeat;}#form h2{font-size:2.8em;padding:0;margin:10px 0}#form .text{font-size:1.5em}#form #formfields{width:100%;max-width:380px;margin:0 auto;padding:10px 30px;background-color:#fff}#formfields h3{border-bottom:0px solid #72bf44;color:#034ea2;text-transform:uppercase;padding:10px;font-size:1.5em}.form-control{border-radius:0;border:0;margin-bottom:10px;background-color:#fff;border-bottom::2px solid #ddd}.container{width:95%;max-width:940px;margin:0 auto;padding:0}#accolades,#stories,footer{padding:20px 0}#reason{background-color:#f3f3f3;padding-top:10px;}#reason h3{font-size:2.2em;color:#034ea2;text-align:center}#products,.trade{color:#666;font-size:1.2em;text-align:center}.trade{margin:30px 0}.trade img{margin-bottom:10px}#products{padding:30px 0;line-height:1.5}.seperator{width:30%;margin:20px auto;border-top:1px solid #72bf44}.seperator-white{width:30%;margin:20px auto;border-top:1px solid #fff}.seperator-trade{width:30%;margin:20px auto;border-top:1px solid #034ea2}#products h3{text-align:center;font-size:2em}#products .title{font-size:1.5em}#products .product{margin-top:30px;margin-bottom:30px}#research .text,#solutions .text{width:90%;max-width:500px;margin:0 auto;font-size:1.1em;text-align:center}#solutions{text-align:center;color:#fff;background-image:url(../images/solution-bg.jpg)}#solutions .text{color:#fff}#research{text-align:center;color:#fff;background-image:url(../images/research-bg.jpg);background-position:bottom;padding:20px 0 200px;background-repeat:no-repeat;background-color:#6b6b6b;}#accolades{background-color:#034ea2;color:#fff;text-align:center}.accolade{text-align:center;font-size:1.2em;color:#fff;margin:30px 0}.accolade img{margin-bottom:20px}#stories{background-color:#72bf44;color:#fff;text-align:center}footer{text-align:justify;color:#7393b9;background-color:#1c3e67;text-align:center;}small{font-size:.8em;line-height:1}#fixbtn{bottom:20px;right:20px;position:fixed;z-index:2001;display:none}#capitallogo{text-align:right}
.story{text-align:center;display:block;width:90%;max-width:700px;margin:0 auto;font-size:1.3em}.rslides{position:relative;list-style:none;width:100%;padding:0;margin:0}.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;text-align:center}.rslides li:first-child{position:relative;display:block;float:left;text-align:center}.rslides img{display:block;height:auto;border:0;margin:0 auto}.social{margin:10px;-webkit-transition: opacity 1s;transition: opacity 1s;}.social:hover{opacity:0.2;} #thankyou{background-color:#fff;text-align:center;} #thankyou #widget{width:90%;max-width:500px;background-color:#f3f3f3;margin:30px auto;display:block;padding:20px;} #thankyou #widget #inner{border:2px solid #fff;padding:10px;text-align:center;} footer a, footer a:hover{color:#7393b9;}

@media screen and (max-width:480px){
	.hidethis{display:none;visibility:hidden;}
	
	#form
{
	margin:0;padding:0;
}
	
	 #fixbtn{width:100px;bottom:10px;right:10px;}

#form #formfields{width:100%;background-color:rgba(255,255,255,1);margin:10px auto;}
#fixbtn img{width:100%;height:auto;}
#capitallogo,#mainlogo{text-align:center;margin:0 auto;}
#capitallogo{display:none;}

}




.bounce-up {
  opacity: 0;
 -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  /* -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;*/
}

.bounce-up.in-view  {
  opacity: 1;
 /* -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);*/
}


.bounce-up-new {
  opacity: 0;
 -moz-transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
   -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up-new.in-view  {
  opacity: 1;
 -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}




.animation-element {
  position: relative;
}


.big-button
{
	background-color:#72bf44;
	border-radius:3px;
	padding:20px;
	margin:15px;
	font-size:1.6em;
	color:#fff;
	display:inline-block;
}

.big-button:hover{
	text-decoration:none;
	color:#000;
}


.step
{
	font-size:1.2em;
	text-align:left;
	margin-bottom:2px;
}